.nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.fullName {
  display: flex;
  gap: 4px;
  align-items: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  min-height: 32px;
  margin-left: -4px;

  & .text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    color: var(--on-text-secondary);
  }
}

.controls {
  display: flex;
  gap: 4px;
  align-items: center;
  margin-left: auto;
  margin-right: -18px;
}

.counter {
  color: var(--on-text-secondary);
  padding-left: 4px;
  padding-right: 4px;
}
