.selector {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper {
  min-height: 200px;
  max-width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 100%;

  &[data-row] {
    align-items: start;
    flex-direction: row;
  }
}

.image {
  object-fit: contain;
  height: max-content;
  box-shadow: var(--shadow-raised);
  border-radius: 2px;
  user-select: none;

  // Checkerboard background for images with transparent background
  background-image: linear-gradient(45deg, #80808020 25%, transparent 25%),
    linear-gradient(-45deg, #80808020 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #80808020 75%),
    linear-gradient(-45deg, transparent 75%, #80808020 75%);
  background-size: 20px 20px;
  background-position:
    0 0,
    0 10px,
    10px -10px,
    -10px 0px;
}

.imageCard {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.imageLabel {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.toggleWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  & .imageLabel {
    margin-left: auto;
  }
}

.toggle {
  margin-left: auto;
}

.overlayContainer {
  position: relative;
  display: flex;

  & .imageCard:nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 1;
  }

  & .overlayHandle {
    --allure-handle-size: 3px;
    --allure-handle-size-multiplier: 3;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: var(--allure-handle-size);
    height: 100%;
    background-color: var(--ad-other-focus);
    cursor: col-resize;
    transition: background-color 0.3s;

    &[data-dragging] {
      cursor: grabbing;
      background-color: var(--bg-control-flat-heavy);

      &:before {
        opacity: 0.5 !important;
      }
    }

    &:hover {
      &:before {
        opacity: 0.92;
      }
    }

    &:before {
      --allure-handle-hover-size: calc(var(--allure-handle-size) * var(--allure-handle-size-multiplier));
      content: "";
      position: absolute;
      top: 0;
      left: calc((var(--allure-handle-size) - var(--allure-handle-hover-size)) / 2);
      bottom: 0;
      width: var(--allure-handle-hover-size);
      height: 100%;
      background-color: var(--ad-other-focus);
      opacity: 0;
      transition: opacity 0.3s ease;
      border-radius: 1px;
    }
  }
}
