.button {
  --allure-btn-height: 0px;
  --allure-btn-padding-horizontal: 0px;
  --allure-btn-padding-vertical: 0px;
  --allure-btn-radius: 0px;
  --allure-btn-border: 0px;
  --allure-btn-leading-icon-margin-right: 0px;
  --allure-btn-focus-ring-offset: 1px;
  --allure-btn-bg-color: transparent;
  --allure-btn-text-color: transparent;
  --allure-btn-icon-color: transparent;
  --allure-btn-trailing-icon-color: transparent;
  --allure-btn-border-color: transparent;
  --allure-btn-icon-base-size: 16px;
  --allure-btn-icon-size: var(--allure-btn-icon-base-size);
  --allure-btn-pressed-scale: 0.96;
  --allure-btn-gap: 2px;

  background-color: var(--allure-btn-bg-color);
  border: var(--allure-btn-border) solid transparent;
  border-color: var(--allure-btn-border-color);
  border-radius: var(--allure-btn-radius);
  padding: calc(var(--allure-btn-padding-vertical) - var(--allure-btn-border))
    calc(var(--allure-btn-padding-horizontal) - var(--allure-btn-border));
  max-height: var(--allure-btn-height);
  height: var(--allure-btn-height);
  max-width: max-content;
  min-width: min-content;
  margin: 0;
  box-sizing: border-box;
  cursor: pointer;
  transition:
    transform var(--interaction-transition-duration) ease-out,
    outline var(--interaction-transition-duration) ease-out,
    background-color var(--color-change-transition-duration),
    border-color var(--color-change-transition-duration);
  transform: scale(1);
  outline-offset: var(--allure-btn-focus-ring-offset);
  outline: var(--allure-btn-focus-ring-offset) solid transparent;

  &:is(a) {
    display: inline-flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
  }

  &:is(a)[aria-disabled="true"] {
    opacity: 0.7;
    cursor: not-allowed;
  }

  &.fullWidth {
    width: 100%;
    max-width: 100%;
  }

  &:disabled .contentIcon,
  &:disabled .leadingIcon,
  &:disabled .dropdownIcon {
    user-select: none;
  }

  &.buttonIcon {
    max-height: var(--allure-btn-height);
    min-height: var(--allure-btn-height);
    height: var(--allure-btn-height);
    max-width: var(--allure-btn-height);
    min-width: var(--allure-btn-height);
    width: var(--allure-btn-height);
    padding: calc(
        var(--allure-btn-padding-vertical) - var(--allure-btn-border) -
          (var(--allure-btn-icon-size) - var(--allure-btn-icon-base-size))
      )
      calc(
        var(--allure-btn-padding-horizontal) - var(--allure-btn-border) -
          (var(--allure-btn-icon-size) - var(--allure-btn-icon-base-size))
      );
  }

  &:focus {
    background-color: var(--allure-btn-bg-color);
    outline: var(--allure-btn-focus-ring-offset) solid transparent;
  }

  /* Focus ring */
  &:focus-visible {
    outline: var(--allure-btn-focus-ring-offset) solid var(--ad-other-focus);
  }

  &:disabled {
    cursor: not-allowed;
  }

  &:active:not(:disabled) {
    transform: scale(var(--allure-btn-pressed-scale));
  }

  &.size_l {
    --allure-btn-height: 40px;
    --allure-btn-padding-horizontal: 12px;
    --allure-btn-padding-vertical: 10px;
    --allure-btn-pressed-scale: 0.96;
    --allure-btn-radius: 6px;
    --allure-btn-leading-icon-margin-right: 4px;
    --allure-btn-gap: 4px;
    --allure-btn-icon-size: 20px;

    &.buttonIcon {
      --allure-btn-padding-horizontal: 10px;
      --allure-btn-padding-vertical: 10px;
    }
  }

  &.size_m {
    --allure-btn-height: 32px;
    --allure-btn-padding-horizontal: 8px;
    --allure-btn-padding-vertical: 6px;
    --allure-btn-pressed-scale: 0.94;
    --allure-btn-radius: 6px;
    --allure-btn-leading-icon-margin-right: 2px;
    --allure-btn-gap: 4px;
    --allure-btn-icon-size: 20px;

    &.buttonIcon {
      --allure-btn-padding-horizontal: 6px;
      --allure-btn-padding-vertical: 6px;
    }
  }

  &.size_xs {
    --allure-btn-height: 22px;
    --allure-btn-padding-horizontal: 2px;
    --allure-btn-padding-vertical: 2px;
    --allure-btn-pressed-scale: 0.94;
    --allure-btn-radius: 2px;
    --allure-btn-leading-icon-margin-right: 2px;
    --allure-btn-gap: 2px;
    --allure-btn-icon-size: 14px;

    &.buttonIcon {
      --allure-btn-padding-horizontal: 2px;
      --allure-btn-padding-vertical: 2px;
    }
  }

  &.size_s {
    --allure-btn-height: 24px;
    --allure-btn-padding-horizontal: 6px;
    --allure-btn-padding-vertical: 4px;
    --allure-btn-pressed-scale: 0.94;
    --allure-btn-radius: 4px;
    --allure-btn-leading-icon-margin-right: 2px;
    --allure-btn-gap: 2px;
    --allure-btn-icon-size: 16px;

    &.buttonIcon {
      --allure-btn-padding-horizontal: 4px;
      --allure-btn-padding-vertical: 4px;
    }
  }

  &.icon_size_xs {
    --allure-btn-icon-size: 12px;

    &.buttonIcon {
      --allure-btn-padding-horizontal: 0;
      --allure-btn-icon-size: 12px;
      --allure-btn-padding-vertical: 4px;
      --allure-btn-height: 32px;
      --allure-btn-width: 20px;
      width: var(--allure-btn-width);
      min-width: var(--allure-btn-width);
    }
  }

  &.buttonIcon[data-rounded] {
    --allure-btn-radius: 999px;
  }

  &.style_primary {
    --allure-btn-border: 0px;
    --allure-btn-border-color: transparent;
    --allure-btn-bg-color: var(--bg-support-aldebaran);
    --allure-btn-text-color: var(--constant-on-text-primary);
    --allure-btn-icon-color: var(--constant-on-icon-primary);
    --allure-btn-trailing-icon-color: var(--constant-on-icon-primary);

    &:hover {
      --allure-btn-bg-color: var(--bg-support-aldebaran-medium);
    }

    &:focus-visible {
      --allure-btn-bg-color: var(--bg-support-aldebaran-medium);
    }

    &:disabled {
      --allure-btn-bg-color: var(--bg-control-secondary);
      --allure-btn-text-color: var(--on-text-hint);
      --allure-btn-icon-color: var(--on-icon-hint);
      --allure-btn-trailing-icon-color: var(--on-icon-hint);
    }

    &:active,
    .active {
      --allure-btn-bg-color: var(--bg-support-aldebaran-heavy);
    }
  }

  &.style_primary.danger {
    --allure-btn-border-color: transparent;
    --allure-btn-bg-color: var(--bg-support-capella);
    --allure-btn-text-color: var(--constant-on-text-primary);
    --allure-btn-icon-color: var(--constant-on-icon-primary);
    --allure-btn-trailing-icon-color: var(--constant-on-icon-primary);

    &:hover {
      --allure-btn-bg-color: var(--bg-support-capella-medium);
    }

    &:focus-visible {
      --allure-btn-bg-color: var(--bg-support-capella-medium);
    }

    &:active,
    .active {
      --allure-btn-bg-color: var(--bg-support-capella-heavy);
    }
  }

  &.style_primary.positive {
    --allure-btn-border-color: transparent;
    --allure-btn-bg-color: var(--bg-support-castor);
    --allure-btn-text-color: var(--constant-on-text-primary);
    --allure-btn-icon-color: var(--constant-on-icon-primary);
    --allure-btn-trailing-icon-color: var(--constant-on-icon-primary);

    &:hover {
      --allure-btn-bg-color: var(--bg-support-castor-medium);
    }

    &:focus-visible {
      --allure-btn-bg-color: var(--bg-support-castor-medium);
    }

    &:active,
    &.active {
      --allure-btn-bg-color: var(--bg-support-castor-heavy);
    }
  }

  &.style_outline {
    --allure-btn-border: 1px;
    --allure-btn-border-color: var(--on-border-control);
    --allure-btn-bg-color: var(--bg-control-flat);
    --allure-btn-text-color: var(--on-text-primary);
    --allure-btn-icon-color: var(--on-icon-primary);
    --allure-btn-trailing-icon-color: var(--on-icon-primary);

    &[data-icon-color="secondary"] {
      --allure-btn-icon-color: var(--on-icon-secondary);
    }

    &[data-link] {
      --allure-btn-text-color: var(--on-support-aldebaran);
      --allure-btn-icon-color: var(--on-support-aldebaran);
    }

    &:hover {
      --allure-btn-bg-color: var(--bg-control-flat-medium);
    }

    &:focus-visible {
      --allure-btn-bg-color: var(--bg-control-flat-medium);
    }

    &:active,
    &.active {
      --allure-btn-bg-color: var(--bg-control-flat-heavy);
    }

    &:disabled {
      --allure-btn-border: 0px;
      --allure-btn-border-color: transparent;
      --allure-btn-bg-color: var(--bg-control-secondary);
      --allure-btn-text-color: var(--on-text-hint);
      --allure-btn-icon-color: var(--on-icon-hint);
      --allure-btn-trailing-icon-color: var(--on-icon-hint);
    }
  }

  &.style_outline.danger {
    --allure-btn-border-color: var(--on-border-control);
    --allure-btn-bg-color: var(--bg-control-flat);
    --allure-btn-text-color: var(--on-support-capella);
    --allure-btn-icon-color: var(--on-support-capella);
    --allure-btn-trailing-icon-color: var(--on-support-capella);

    &[data-link] {
      --allure-btn-text-color: var(--on-support-capella);
      --allure-btn-icon-color: var(--on-support-capella);
    }

    &:hover {
      --allure-btn-bg-color: var(--bg-alpha-capella);
    }

    &:focus-visible {
      --allure-btn-bg-color: var(--bg-alpha-capella);
    }

    &:active,
    &.active {
      --allure-btn-bg-color: var(--bg-alpha-capella-medium);
    }
  }

  &.style_outline.positive {
    --allure-btn-border-color: var(--on-border-control);
    --allure-btn-bg-color: var(--bg-control-flat);
    --allure-btn-text-color: var(--on-support-castor);
    --allure-btn-icon-color: var(--on-support-castor);
    --allure-btn-trailing-icon-color: var(--on-support-castor);

    &[data-link] {
      --allure-btn-text-color: var(--on-support-castor);
      --allure-btn-icon-color: var(--on-support-castor);
    }

    &:hover {
      --allure-btn-bg-color: var(--bg-alpha-castor);
    }

    &:focus-visible {
      --allure-btn-bg-color: var(--bg-alpha-castor);
    }

    &:active,
    &.active {
      --allure-btn-bg-color: var(--bg-alpha-castor-medium);
    }
  }

  &.style_ghost {
    --allure-btn-border: 0px;
    --allure-btn-border-color: transparent;
    --allure-btn-bg-color: var(--bg-control-flat);
    --allure-btn-text-color: var(--on-text-primary);
    --allure-btn-icon-color: var(--on-icon-primary);
    --allure-btn-trailing-icon-color: var(--on-icon-primary);

    &[data-icon-color="secondary"] {
      --allure-btn-icon-color: var(--on-icon-secondary);
    }

    &[data-link] {
      --allure-btn-text-color: var(--on-support-aldebaran);
      --allure-btn-icon-color: var(--on-support-aldebaran);
    }

    &:hover {
      --allure-btn-bg-color: var(--bg-control-flat-medium);
    }

    &:active,
    &.active {
      --allure-btn-bg-color: var(--bg-control-flat-heavy);
    }

    &:disabled {
      --allure-btn-bg-color: transparent;
      --allure-btn-text-color: var(--on-text-hint);
      --allure-btn-icon-color: var(--on-icon-hint);
      --allure-btn-trailing-icon-color: var(--on-icon-hint);
    }
  }

  &.style_ghost.danger {
    --allure-btn-border: 0px;
    --allure-btn-border-color: transparent;
    --allure-btn-bg-color: transparent;
    --allure-btn-text-color: var(--on-support-capella);
    --allure-btn-icon-color: var(--on-support-capella);
    --allure-btn-trailing-icon-color: var(--on-support-capella);

    &[data-link] {
      --allure-btn-text-color: var(--on-support-capella);
      --allure-btn-icon-color: var(--on-support-capella);
    }

    &:hover {
      --allure-btn-bg-color: var(--bg-alpha-capella);
    }

    &:focus-visible {
      --allure-btn-bg-color: var(--bg-alpha-capella);
    }

    &:active,
    &.active {
      --allure-btn-bg-color: var(--bg-alpha-capella-medium);
    }
  }

  &.style_ghost.positive {
    --allure-btn-border: 0px;
    --allure-btn-border-color: transparent;
    --allure-btn-bg-color: transparent;
    --allure-btn-text-color: var(--on-support-castor);
    --allure-btn-icon-color: var(--on-support-castor);
    --allure-btn-trailing-icon-color: var(--on-support-castor);

    &[data-link] {
      --allure-btn-text-color: var(--on-support-castor);
      --allure-btn-icon-color: var(--on-support-castor);
    }

    &:hover {
      --allure-btn-bg-color: var(--bg-alpha-castor);
    }

    &:focus-visible {
      --allure-btn-bg-color: var(--bg-alpha-castor);
    }

    &:active,
    &.active {
      --allure-btn-bg-color: var(--bg-alpha-castor-medium);
    }
  }

  &.style_flat {
    --allure-btn-border: 0px;
    --allure-btn-border-color: transparent;
    --allure-btn-bg-color: var(--bg-control-secondary);
    --allure-btn-text-color: var(--on-text-primary);
    --allure-btn-icon-color: var(--on-icon-primary);

    &[data-icon-color="secondary"] {
      --allure-btn-icon-color: var(--on-icon-secondary);
    }

    &[data-link] {
      --allure-btn-text-color: var(--on-support-aldebaran);
      --allure-btn-icon-color: var(--on-support-aldebaran);
    }

    &:hover {
      --allure-btn-bg-color: var(--bg-control-secondary-medium);
    }

    &:focus-visible {
      --allure-btn-bg-color: var(--bg-control-secondary-medium);
    }

    &:active,
    &.active {
      --allure-btn-bg-color: var(--bg-control-secondary-heavy);
    }

    &:disabled {
      --allure-btn-bg-color: var(--bg-control-secondary);
      --allure-btn-text-color: var(--on-text-hint);
      --allure-btn-icon-color: var(--on-icon-hint);
      --allure-btn-trailing-icon-color: var(--on-icon-hint);
    }
  }

  &.style_flat.danger {
    --allure-btn-border-color: transparent;
    --allure-btn-bg-color: var(--bg-alpha-capella);
    --allure-btn-text-color: var(--on-support-capella);
    --allure-btn-icon-color: var(--on-support-capella);
    --allure-btn-trailing-icon-color: var(--on-support-capella);

    &[data-link] {
      --allure-btn-text-color: var(--on-support-capella);
      --allure-btn-icon-color: var(--on-support-capella);
    }

    &:hover {
      --allure-btn-bg-color: var(--bg-alpha-capella-medium);
    }

    &:focus-visible {
      --allure-btn-bg-color: var(--bg-alpha-capella-medium);
    }

    &:active,
    &.active {
      --allure-btn-bg-color: var(--bg-alpha-capella-heavy);
    }
  }

  &.style_flat.positive {
    --allure-btn-border-color: transparent;
    --allure-btn-bg-color: var(--bg-alpha-castor);
    --allure-btn-text-color: var(--on-support-castor);
    --allure-btn-icon-color: var(--on-support-castor);
    --allure-btn-trailing-icon-color: var(--on-support-castor);

    &[data-link] {
      --allure-btn-text-color: var(--on-support-castor);
      --allure-btn-icon-color: var(--on-support-castor);
    }

    &:hover {
      --allure-btn-bg-color: var(--bg-alpha-castor-medium);
    }

    &:focus-visible {
      --allure-btn-bg-color: var(--bg-alpha-castor-medium);
    }

    &:active,
    &.active {
      --allure-btn-bg-color: var(--bg-alpha-castor-heavy);
    }
  }

  &.style_raised {
    --allure-btn-border: 1px;
    --allure-btn-border-color: var(--on-border-primary);
    --allure-btn-bg-color: var(--bg-base-modal);
    --allure-btn-text-color: var(--on-text-primary);
    --allure-btn-icon-color: var(--on-icon-primary);
    --allure-btn-trailing-icon-color: var(--on-icon-primary);

    &[data-icon-color="secondary"] {
      --allure-btn-icon-color: var(--on-icon-secondary);
    }

    &[data-link] {
      --allure-btn-text-color: var(--on-support-aldebaran);
      --allure-btn-icon-color: var(--on-support-aldebaran);
    }

    box-shadow: var(--shadow-raised);
    background-color: var(--bg-base-modal);
    /* Dropping border on button, cause it will be on before */
    border: var(--allure-btn-border) solid transparent;
    border-color: transparent;
    position: relative;

    /* Using before as a layer, to add overlay alpha colors over bg color */

    &::before {
      position: absolute;
      content: "";
      inset: calc(var(--allure-btn-border) * -1);
      transition: background-color var(--color-change-transition-duration);
      background-color: var(--allure-btn-bg-color);

      /* should not capture clicks */
      pointer-events: none;
      border-radius: var(--allure-btn-radius);
      border: var(--allure-btn-border) solid transparent;
      border-color: var(--allure-btn-border-color);
    }

    &:hover {
      --allure-btn-bg-color: var(--bg-control-flat-medium);
    }

    &:focus-visible {
      --allure-btn-bg-color: var(--bg-control-flat-medium);
    }

    &:active,
    &.active {
      --allure-btn-bg-color: var(--bg-control-flat-heavy);
    }

    &:disabled {
      --allure-btn-border: 0px;
      --allure-btn-border-color: transparent;
      --allure-btn-bg-color: var(--bg-control-secondary);
      --allure-btn-text-color: var(--on-text-hint);
      --allure-btn-icon-color: var(--on-icon-hint);
      --allure-btn-trailing-icon-color: var(--on-icon-hint);
      box-shadow: none;
    }
  }

  &.style_raised.danger {
    --allure-btn-text-color: var(--on-support-capella);
    --allure-btn-icon-color: var(--on-support-capella);
    --allure-btn-trailing-icon-color: var(--on-support-capella);

    &[data-link] {
      --allure-btn-text-color: var(--on-support-capella);
      --allure-btn-icon-color: var(--on-support-capella);
    }

    &:hover {
      --allure-btn-bg-color: var(--bg-alpha-capella);
    }

    &:focus-visible {
      --allure-btn-bg-color: var(--bg-alpha-capella);
    }

    &:active,
    &.active {
      --allure-btn-bg-color: var(--bg-alpha-capella-medium);
    }
  }

  &.style_raised.positive {
    --allure-btn-text-color: var(--on-support-castor);
    --allure-btn-icon-color: var(--on-support-castor);
    --allure-btn-trailing-icon-color: var(--on-support-castor);

    &[data-link] {
      --allure-btn-text-color: var(--on-support-castor);
      --allure-btn-icon-color: var(--on-support-castor);
    }

    &:hover {
      --allure-btn-bg-color: var(--bg-alpha-castor);
    }

    &:focus-visible {
      --allure-btn-bg-color: var(--bg-alpha-castor);
    }

    &:active,
    &.active {
      --allure-btn-bg-color: var(--bg-alpha-castor-medium);
    }
  }
}

.contentIcon,
.leadingIcon {
  color: var(--allure-btn-icon-color);
}

.dropdownIcon {
  color: var(--allure-btn-trailing-icon-color);
}

.text {
  color: var(--allure-btn-text-color);
  padding: 0;
  margin: 0;
  white-space: nowrap;
  user-select: none;
}

.pending .text,
.pending .leadingIcon,
.pending .dropdownIcon,
.pending .contentIcon {
  visibility: hidden;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  user-select: none;
  gap: var(--allure-btn-gap);
}

.leadingSlot {
  margin-right: var(--allure-btn-leading-icon-margin-right);
}

.leadingSlot,
.trailingSlot {
  min-width: var(--allure-btn-icon-size) !important;
  height: var(--allure-btn-icon-size) !important;
  max-height: var(--allure-btn-icon-size) !important;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 0;
  pointer-events: none;
  user-select: none;
}

.leadingIcon {
  margin-right: var(--allure-btn-leading-icon-margin-right);
}

.leadingIcon,
.contentIcon,
.dropdownIcon {
  width: var(--allure-btn-icon-size) !important;
  height: var(--allure-btn-icon-size) !important;
  transition: color var(--color-change-transition-duration);
  user-select: none;

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: none;
  }
}

.dropdownIcon {
  transition:
    transform var(--interaction-transition-duration) ease-in,
    color var(--color-change-transition-duration);
}

.button.active .dropdownIcon {
  transform: rotate(180deg);
}

.pending .spinner {
  display: flex;
}

.spinner {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  user-select: none;
  color: var(--allure-btn-icon-color);
  display: none;
}
